{% extends 'base.html.twig' %}

{% block title %}List Tache{% endblock %}

{% block body %}
    <h1 class="mb-4 fw-bold">Tache index</h1>

    <div class="card p-3">
    <div class="d-flex justify-content-between mb-3">
        <h5 class="fw-semibold text-secondary">All Tache</h5>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_debut</th>
                <th>Date_fin_prevue</th>
                <th>Date_fin_reelle</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.titre }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.dateDebut ? tache.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.dateFinPrevue ? tache.dateFinPrevue|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.dateFinReelle ? tache.dateFinReelle|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.statut }}</td>
                <td>
                    <a href="{{ path('app_tache_show', {'id': tache.id}) }}" class="btn btn-sm btn-warning">show</a>
                    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_new') }}" class="btn btn-sm btn-warning">Create new</a>
{% endblock %}
