{% extends 'base.html.twig' %}
{% block title %}Lier une équipe{% endblock %}

{% block body %}
<div class="bg-white p-6 rounded-xl shadow max-w-xl mx-auto">

    <h2 class="text-xl font-semibold mb-4">Lier une équipe à : {{ projet.nom }}</h2>

    {{ form_start(form) }}

        <div class="mb-4">
            {{ form_label(form.equipe) }}
            {{ form_widget(form.equipe, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
        </div>

        <button class="bg-blue-600 text-white px-4 py-2 rounded">
            Associer
        </button>

    {{ form_end(form) }}

</div>
{% endblock %}
