<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion Projets{% endblock %}</title>

    {# CDN Tailwind #}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">

<nav class="bg-blue-600 text-white p-4 shadow">
    <div class="container mx-auto flex justify-between">
        <h1 class="font-bold text-xl">ProjetManager</h1>
        <div class="flex gap-4">
            {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('app_user_index') }}" class="hover:underline">User</a>
                <a href="{{ path('app_projet_index') }}" class="hover:underline">Projet</a>
                <a href="{{ path('app_tache_index') }}" class="hover:underline">Tache</a>
                <a href="{{ path('app_team_index') }}" class="hover:underline">Team</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('app_user_mesTaches', { id: app.user.id }) }}" class="hover:underline">
                Mes Tâches
                </a>
            {% endif %}

            <a href="{{ path('app_login') }}" class="hover:underline">Login</a>
        </div>
    </div>
</nav>

<main class="container mx-auto mt-8">
    {% block body %}{% endblock %}
</main>

</body>
</html>
